.MuiTableCell-head {
    font-family: 'Syne', 'Montserrat', Arial, Helvetica, sans-serif;
    color: #003E69;
    font-weight: 700;
}

/* .MuiButton-contained {
  background-color: #243a72;
  border-radius: 5px,
  height: 45px,
  position: relative,
  width: 143px,
  color: #ffffff,
  font-family: "Syne", Helvetica,
  font-size: 16px,
  font-weight: 700,
  left: 48px,
  letter-spacing: -0.48px,
  line-height: normal,
  position: absolute,
  top: 12px,
  white-space: nowrap,
} */